
<h5 class="archive-result text-color-base text-xlarge" data-message-zero="{{ i18n "global.posts_found.zero" }}" data-message-one="{{ i18n "global.posts_found.one" }}" data-message-other="{{ i18n "global.posts_found.other" }}"></h5>
<section class="boxes">
  {{ range .GroupByDate "2006" }}
    {{ $year := .Key }}
    <div class="archive archive-year box" data-date="{{ $year }}">
      <h1 class="archive-title" style="text-decoration: none;">{{ $year }}{{ if i18n "date.year.suffix" }}{{ i18n "date.year.suffix" }}{{ end }}</h1>
      {{ range .Pages.GroupByDate "01-January" }}
        <ul class="archive-posts archive-month" data-date="{{ $year }}{{ range first 1 (split .Key "-") }}{{ . }}{{ end }}">
          <h6 class="archive-title" style="text-decoration: none;"> {{ index (split .Key "-") 1 }} </h6>
          {{ range .Pages }}
            <li class="archive-post archive-day" >
              <a class="archive-post-title" href="{{ .Permalink }}">{{ .Title }}</a>
              <span class="archive-post-date"> - {{ partial "internal/date" . }}</span>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  {{ end }}
</section>
